<div class="row">
  <mat-card style="margin-top: 20px;">
    <mat-card-header>
      <mat-card-title>Cadastro da proposta de equipamento</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-vertical-stepper #stepper>
        <!-- Informações gerais -->
        <mat-step>
          <form>
            <ng-template matStepLabel>Informações Gerais</ng-template>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Justificativa</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="interesse" class="materialize-textarea"></textarea>
                <label for="interesse">Interesse Recíproco</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="diretriz" class="materialize-textarea"></textarea>
                <label for="diretriz">Diretriz Programa</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="publicoAlvo" class="materialize-textarea"></textarea>
                <label for="publicoAlvo">Público Alvo</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s12">
                <textarea id="ResultadoEsperado" class="materialize-textarea"></textarea>
                <label for="ResultadoEsperado">Resultado Esperado</label>
              </div>
            </div>

            <div class="file-field input-field">
              <div id="capacidadeTec">
                <div class="btn">
                  <span>Upload</span>
                  <input type="file" placeholder="Upload arquivo - Capacidade técnica.">
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Upload arquivo - Capacidade técnica.">
                </div>
              </div>
            </div>

            <div>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <!-- dados bancarios -->
        <mat-step>
          <form>
            <ng-template matStepLabel>Dados Bancários</ng-template>

            <div class="row">
              <div class="input-field col s6">
                <input id="agencia" type="text" data-length="10">
                <label for="agencia">Agência</label>
              </div>

              <div class="input-field col s6">
                <input id="conta" type="text" data-length="10">
                <label for="conta">Conta</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input id="titular" type="text" data-length="10">
                <label for="titular">Titular</label>
              </div>
            </div>

            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Cronograma Físico</ng-template>

          <div class="row">
            <div class="row">
              <div class="col m6">
                <label>Especificação de meta: </label> Arquisição de Equipamentos e materiais permanentes
              </div>

              <div class="col m6">
                <label>Unidade fornecimento: </label> UNID
              </div>
            </div>

            <div class="row">
              <div class="col m6">
                <input type="text" class="datepicker" placeholder="Data inicio">
              </div>

              <div class="col m6">
                <input type="text" class="datepicker" placeholder="Data fim">
              </div>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Plano de aplicação</ng-template>

          <div class="row">
            <div class="row">
              <div class="col m6">
                <mat-form-field>
                  <mat-select placeholder="Selecione uma meta">
                    <mat-option *ngFor="let meta of metas">
                      {{meta.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col m6">
                <mat-form-field>
                  <mat-select placeholder="Selecione a etapa">
                    <mat-option *ngFor="let etapa of etapas">
                      {{etapa.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col m12">
                <label>Valor total da meta: </label> R$ 823.691,67
              </div>
            </div>
          </div>


          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Cronograma de desembolso</ng-template>

          <div class="row">
            <div class="row">
              <div class="col m12">
                <mat-form-field>
                  <mat-select placeholder="Selecione um responsável">
                    <mat-option *ngFor="let responsavel of responsaveis">
                      {{responsavel.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col m6">
                <mat-form-field>
                  <mat-select placeholder="Selecione o mês">
                    <mat-option *ngFor="let mes of meses">
                      {{mes.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col m6">
                <mat-form-field>
                  <mat-select placeholder="Selecione o ano">
                    <mat-option *ngFor="let ano of anos">
                      {{ano.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col m12">
                <label>Valor do ted: </label> <input type="text" class="datepicker" placeholder="R$ 832.923,10">
              </div>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Dados do cadastrador</ng-template>

          <div class="row">
            <div class="row">
              <div class="col m4">
                <label>CPF:</label> <input type="text" placeholder="049.000.213-23"/>
              </div>

              <div class="col m4">
                <label>Sexo:</label> <input type="text" placeholder="Masculino"/>
              </div>

              <div class="col m4">
                <label>Cargo/Função:</label> <input type="text" placeholder="Analista de sistemas"/>
              </div>
            </div>

            <div class="row">
              <div class="col m6">
                <label>Nome:</label> <input type="text" placeholder="Maria Santos"/>
              </div>

              <div class="col m6">
                <label>Contato:</label> <input type="text" placeholder="(61) 9 9999-9999"/>
              </div>
            </div>

            <div class="row">
              <div class="col m4">
                <label>CEP:</label> <input type="text" placeholder="72.999.999"/>
              </div>

              <div class="col m4">
                <label>Endereço:</label> <input type="text" placeholder="Rua Almeida Casa 24"/>
              </div>

              <div class="col m4">
                <label>Complemento:</label> <input type="text" placeholder="Casa"/>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col m6">
              <label>E-mail:</label> <input type="email" placeholder="exemplo@exemplo.com"/>
            </div>

            <div class="col m6">
              <label>E-mail Corporativo:</label> <input type="email" placeholder="exemplo@exemplo-corporativo.com"/>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Anexos</ng-template>

          <div class="row">
            <div class="col m6">
              <label>Tipo de arquivo:</label>

              <mat-form-field>
                <mat-select placeholder="Selecione tipo arquivo">
                  <mat-option *ngFor="let arquivo of arquivos">
                    {{arquivo.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="row">
              <div class="file-field input-field col m12">
                <div id="">
                  <div class="btn">
                    <span>Upload</span>
                    <input type="file" placeholder="Upload do arquivo">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload arquivo">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button matStepperNext>Próximo</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Pronto!</ng-template>
          Preenchimento finalizado com sucesso.
          <div class="row">

            <div class="col m6">
              <div style="margin-top: 30px;">
                <div class="col m4">
                  <button mat-raised-button color="warn" (click)="stepper.reset()">Resetar</button>
                </div>

                <div class="col m4">
                  <button mat-raised-button color="primary" matStepperPrevious>Voltar</button>
                </div>

                <div class="col m4">
                  <button mat-raised-button color="primary" (click)="cadastrar()">Salvar</button>
                </div>
              </div>
            </div>
          </div>
        </mat-step>

      </mat-vertical-stepper>

    </mat-card-content>

  </mat-card>
</div>
