<mat-card class="col s12 m6 card-proposta">
  <mat-card-header>
    <mat-card-title>{{title}}</mat-card-title>
    <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="row">
    <div *ngFor="let content of contents">
        <div class="col m6">
          <label>{{content.label}}</label>{{content.value}} <br>
        </div>
    </div>
  </mat-card-content>

  <mat-card-actions >
    <div class="card-proposta-actions-button" *ngFor="let action of actions">
      <button mat-button ngClass="{{action.class}}">{{action.label}}</button>
    </div>
  </mat-card-actions>
</mat-card>
